angular/xml/authorisation schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">	
	<xs:element name="dataroot">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="authorisation" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:int" name="AuthBalance"/>
							<xs:element type="xs:date" name="ExtractDate"/>
							<xs:element type="xs:int" name="transaction_year"/>
						</xs:sequence>
						<xs:attribute type="xs:int" name="companyId" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>