angular/xml/stocks schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">	
	<xs:element name="dataroot">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="qry_aggregation_stocks_anonymous" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:short" name="transaction_year"/>
							<xs:element type="xs:short" name="portal_code"/>
							<xs:element type="xs:string" name="transaction_code"/>
							<xs:element type="xs:short" name="gas_id"/>
							<xs:element type="xs:string" name="gas_name_IA"/>
							<xs:element type="xs:float" name="amount_mix"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>